/*
    Generic Styles for All Pages

    Dustin "BasicExp" Irvine
    Novemeber 18th 2018

*/

/* All Screen Sizes */

body, .dkci-menu-item a {
    font-family: "Vollkorn";
}

a {
    color: #212529 !important;
}

a:hover, .active {
    color: #c20202 !important;
    text-decoration: none !important;
    font-weight: 700;
}

.dkci-title {
    font-family: "Cinzel";
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.dkci-title-line {
    background-color: #212529;
    width: 90%;
    height: 2px;
    margin: 0 auto;
}

.dkci-footer {
    margin-top: 30px;
    margin-bottom: 10px;
}

.dkci-footer-text {
    text-align: center;
    font-size: 0.75em;
}

.dkci-nav-media a {
    display: inline-block;
    max-width: 100px;
}

.dkci-nav-media a img {
    border-radius: 7px;
    margin: 3px;
    height: 40px;
    width: 40px;
}

/* Desktop */

.dkci-title {
    font-size: 4.5em;
}

.dkci-menu {
    width: 100%;
}

.dkci-menu-item {
    text-align: center;
    font-size: 1.75em;
    width: 25%;
}

/* Tablet */

@media screen and (max-width: 992px) {
    
    .container {
        max-width: none !important;
        margin: 10px 0 10px 0 !important;
    }
    
    .dkci-menu-item {
        font-size: 2.25em;
    }

    .dkci-title {
        font-size: 4.5em;
    }
    
    .dkci-nav-media a img {
        margin: 5px;
        height: 80px;
        width: 80px;
    }
    
}

/* Mobile */


@media screen and (max-width: 767px) {
    .dkci-menu-item {
        font-size: 3em;
        text-align: left;
    }

    .dkci-mobile-btn {
        height: 40px;
        width: 15%;
        margin-left: 20px;
        cursor: pointer;
    }

    .dkci-mobile-btn img {
        height: 35px;
        margin-bottom: 2.5px;
        margin-top: 2.5px;
    }

    .dkci-title {
        font-size: 3.5em;
        margin-top: 10px;
    }

    .dkci-menu-item {
        width: 80%;
    }
    

    
}