/*
    DnD Page Styles

    Dustin "BasicExp" Irvine
    December 28 2018

*/

.ang-dice-roller {
    font-family: "Work Sans";
}

.ang-dice {
    background-color: rgb(34, 34, 34);
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 22px;
    font-size: 4em;
    cursor: pointer;
    text-align: center;
}

.ang-add-count, .ang-subtract-count, 
.ang-roll-count, .ang-sum-mode,
.ang-roll-total, .ang-clear {
    background-color: rgb(34, 34, 34);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 22px;
    font-size: 4em;
    cursor: pointer;
    text-align: center;
}

.ang-sum-mode, .ang-clear {
    font-size: 2.5em;
    font-weight: 700;
    padding: 18px;
    display: inline-block;
    width: 170px;
    height: 170px;
}

.ang-clear {
    /* Needs different padding than Sum Mode */
    padding-top: 50px; 
}

.ang-roll-total {
    color:  #c20202;;
    background-color: white;
    border:  rgb(34, 34, 34) solid 5px;
    width: 170px;
    height: 170px;
    padding: 30px;
    display: block;
}

.ang-dice:active, .ang-add-count:active,
.ang-subtract-count:active, .sum-mode-on, 
.ang-clear:active {
    background-color: #c20202;
}

.ang-spell-container, .titles-row, 
.dice-roller-container {
    font-family: "Vollkorn";
}

.ang-form-spell {
    background-color:rgb(228, 228, 228);
    margin-top: -14px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 5px;
}

.spell-error {
    margin-bottom: 15px;
    color: #c20202;
}

.spell-builder-text, .dice-roller-text {
    margin-bottom: 20px;
}

.spell-builder-text h3 a {
    color: #c20202 !important;
}

.field {
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
}

select {
    height: 42px;
}

.spell-description {
    width: 100%;
    height: 200px;
}

.spell-name {
    width: 100%;
}

.spell-level {
    width: 35%;
}

.spell-school {
    width: 63%;
    margin-left: 4px;
}

/* Toggle Styles */

.false, .true {
    text-align: center;
    cursor: pointer;
    min-width: 150px;
    max-width: 150px;
    box-shadow: 3px 3px rgba(65, 65, 65, 0.5);
    padding: 10px 0 10px 0;
}

.false {
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 5px;
}

.true {
    background-color: #c20202;
    color: white;
    border-radius: 5px;
}

.spell-cast-value, .spell-duration-value {
    max-width: 50px;
}

.spell-ritual, .spell-concentration {
    display: inline-block;
}

.spell-concentration {
    max-width: 45%;
    min-width: 35%;
}

/* OVER WRITE the true and false styles */

.spell-range-option {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

#spell-range-ft {
    margin-left: 0px;
}

.spell-range-number {
    max-width: 75px;
    height: 35px;
}

.spell-components-option {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.titles-col {
    text-align: center;
}

.spell-builder, .dice-roller {
    margin: 20px;
    width: 33%;
    display: inline-block;
    max-width: none;
    font-size: 1.75em;
}

/* Spell Being Displayed Styles */

.ang-display-spell {
    font-family: "Sura";
    font-size: 1.1em;
    background-image: url("../img/parchment.jpg");
    background-size: cover;
    padding: 15px;
    min-height: 650px;
    width: 75%;
}

.ang-spell-title {
    font-size: 1.6em;
}

.ang-spell-subtitle {
    font-style: italic;
    font-size: 1.2em;
}

.label-cast-time, .label-range, .label-components,
.label-duration {
    font-weight: bold;
}

@media screen and ( max-width: 1200px ) {
    
    .ang-dice {
        margin: 5px;
    }

    .ang-display-spell {
        width: 80%;
    }

    .true, .false {
        min-width: 190px;
        max-width: 190px;
        padding: 5px 0 5px 0;
    }

    .spell-level {
        max-width: 139px;
    }

    .spell-concentration, .spell-ritual,
    .spell-duration-units, .spell-cast-units {
        min-width: 165px;
        max-width: 165px;
    }
}

@media screen and (max-width: 992px ) {
    
    .ang-display-spell {
        width: 60%;
    }

    .spell-level {
        max-width: 35%;
    }

    .spell-school {
        max-width: 63%;
        margin-left: 1px;
    }
    
    .field  {
        font-size: 3.5em;
        margin-bottom: 20px;
    }
    
    .titles-col {
        font-size: 3.5em;
    }
    
    select, .spell-range-number {
        height: 92px;
    }
    
    .spell-range-number {
        max-width: 145px;
    }

    .spell-description {
        height: 500px;
    }
    
    .true, .false {
        font-size: 1.15em;
        padding: 10px;
        min-width: 48%;
        max-width: 48%;
    }
    
    .spell-builder, .dice-roller {
        min-width: 33%;
        max-width: 33%;
    }
    
    .spell-duration-units, .spell-cast-units {
        min-width: 265px;
        max-width: 265px;
    }
    
    
    .spell-concentration, .spell-ritual {
        font-size: 0.85em;
        padding: 12px 0 6px 0;
    }
    
    .ang-display-spell {
        font-size: 2.2em;
        width: 100%;
    }

    .spell-cast-value, .spell-duration-value {
        max-width: 70px;
        min-width: 70px;
    }

}

@media screen and ( max-width: 767px ) {

    .spell-range-number {
        max-width: 125px;
        height: 92px;
    }

    .spell-level {
        max-width: 156px;
    }

    .spell-concentration, .spell-ritual {
        font-size: 1.35em;
    }

    .spell-builder, .dice-roller {
        margin: 10px 3px 3px 3px;
        min-width: 24%;
        max-width: 24%;
    }
    
    .field  {
        font-size: 2.5em;
    }

    .spell-concentration, .spell-ritual {
        font-size: 0.85em;
        padding: 12px 0 6px 0;
    }

    select, .spell-range-number {
        height: 66px;
    }

    .spell-duration-units, .spell-cast-units {
        min-width: 165px;
        max-width: 165px;
    }
    
    .true, .false {
        min-width: 46%;
        max-width: 46%;
    }

}

